.dataBlock {
    padding: 0.05em;
    font-weight: bold;
    color: #2d2d2d;
    font-family: sans-serif;
    margin: 0.05em;
    font-size: 1.3em;
}

.dataBlock:nth-child(odd)> div:last-child {
    background: #2d2d2d;
    color: rgba(255,255,255,0.95);
}

.dataBlock:nth-child(even)> div:last-child {
    background: rgba(0,0,0,0.5);
    color: rgba(255,255,255,0.95);
}


.dataBlock > div {
    display: inline-block;
    background: rgba(0,0,0,0.1);
    margin:0.2em;
    padding: 0.5em;
    border-radius: 1em 0em 1em 0em;
    text-align: right;
}

.dataBlock > .windSpeed {
    width: 4em;
}
.dataBlock > .windDir {
    width: 2em;
}
.dataBlock > .humidity {
    width: 4em;
}
.dataBlock > .pressure {
    width: 4.1em;
}
.dataBlock > .temperature {
    width: 3.5em;
}
.dataBlock > .time {
    float: left;
    width: 3em;
    text-align: center;
}
.dataBlock > .end {
    clear: both;
    float: none;
    display: none;
}

