@import "bootstrap/less/bootstrap";
@import "font-awesome/less/font-awesome";

@import "variables";

@import "grayscale";


.intro {
  background: url('http://shumen-xc.org/meteo2/uploads/c8ffac92d5a5c21f34deecec7876de6b.jpg');
  background-color: #000;
  background-position: 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}


