@import "bootstrap/less/bootstrap";
@import "font-awesome/less/font-awesome";

@import "variables";

@import "grayscale";

@import "datepicker/less/datepicker3";


.intro {
  background: url('http://stavl.com/storage/c8ffac92d5a5c21f34deecec7876de6b.jpg');
  background-color: @gray-darker;
  background-position: 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}


.datepicker {
  color: @gray-darker;
  font-family: sans-serif;
  z-index: 9999 !important;
}

body {
  input {
    font-family: sans-serif;
  }
}

.modal {
  color: @gray-darker;

  ::-moz-selection {
    text-shadow: none;
    background: lighten(@primary, 30%);
  }

  ::selection {
    text-shadow: none;
    background: lighten(@primary, 30%);
  }

  input {
    text-align: center;
  }


}